.container
  .row
    .col-md-2
    .col-md-8
      = request.remote_ip
      - if @aliens
        #wedding_body
          %h1
            ДО СВАДЬБЫ АЛЁНЫ И МИХАИЛА ОСТАЛОСЬ:
          
          %h3#wedding
            = @days
            дней
      - else
        #wedding_body
          %h1
            ДО НАШЕЙ СВАДЬБЫ ОСТАЛОСЬ:
          
          %h3#wedding
            = @days
            дней
          %br
          %h2.red
            %span.glyphicon.glyphicon-heart.red
            Я ЛЮБЛЮ ТЕБЯ!
            %span.glyphicon.glyphicon-heart.red

    .col-md-2
