= request.env['HTTP_X_REAL_IP']
.container
  .row
    .col-md-2
    .col-md-8
      #wedding_body
        %h1
          ДО НАШЕЙ СВАДЬБЫ ОСТАЛОСЬ:
        
        %h3#wedding
          = @days
          дней
        %br
        %h2.red
          %span.glyphicon.glyphicon-heart.red
          Я ЛЮБЛЮ ТЕБЯ!
          %span.glyphicon.glyphicon-heart.red
    .col-md-2
